<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo 2</title>

  <link rel="stylesheet" href="../css/preset.css">
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
  </script>
  <style>



  </style>

</head>

<body>
  <header>HEADER</header>
  <script>



  </script>

  <div class="content">
    <div class="sidebar">
      <ul class="side-menu">
        <!-- class="hidden" -->
        <!-- <li th:class="${event}"><a href="eventManagement.html">EventManagement</a></li> -->
        <li th:class="${event}"><a href="/eventManagement">EventManagement</a></li>
        <li th:class="${task}"><a href="#">TaskManagement</a></li>

        <li th:class="${staff}"><a href="#">StaffManagement</a></li>

        <li th:class="${finance}"><a href="#">FinanceManagement</a></li>

      </ul>

    </div>
    <div class="maincontent">
        

        <form th:action="@{/createEventRequest}" method = "POST">
            
            <p>Client Name: <input name="clientName" type="text" placeholder="client name"></p>
            <p>Event type: <input name="eventType" type="text" placeholder="event type"></p>
            <p>Begin Date: <input name="beginDate" type="date" ></p>
            <p>End Date: <input name="endDate" type="date" ></p>
            <p>Perferences: <input name="perferences" type="text" placeholder="perferences"></p>
            <p>Expected budget: <input name="expectedBudget" type="number" placeholder="budget"></p>
           
            <button type="submit">submit</button>
        
            </form> 



    </div>
  </div>

  <footer>FOOTER</footer>
</body>

</html>