<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SEP system</title>

  <link rel="stylesheet" href="../css/preset.css">
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
  </script>
  <style>



  </style>

</head>

<body>
  <header>
    <div id="headercontent">
    <div id="logout">
      <a id="logoutbutton" href="/logout">Logout</a>
    </div>
    <div id = "header">
       <p th:text="${session.userName}"></p>
      <p th:text="${session.role}"></p>
    </div>
  </div>
  </header>
  <script>



  </script>

  <div class="content">
    <div class="sidebar">
      <ul class="side-menu">
        
        <li class="hidden" th:class="${session.event}"><a href="/eventManagement">EventManagement</a></li>

        <li class="hidden" th:class="${session.task}"><a href="/taskManagement">TaskManagement</a></li>

        <li class="hidden" th:class="${session.staff}"><a href="/staffManagement">StaffManagement</a></li>

        <li class="hidden" th:class="${session.finance}"><a href="/financeManagement">FinanceManagement</a></li>

      </ul>

    </div>
    <div class="maincontent">
        

        <form th:action="@{/createEventRequest}" method = "POST">
            
            <p>Client Name: <input name="clientName" type="text" placeholder="client name"></p>
            <p>Event type: <input name="eventType" type="text" placeholder="event type"></p>
            <p>Begin Date: <input name="beginDate" type="date" ></p>
            <p>End Date: <input name="endDate" type="date" ></p>
            <p>preferences: <input name="preferences" type="text" placeholder="preferences"></p>
            <p>Expected budget(SEK): <input name="expectedBudget" type="number" placeholder="budget"></p>
            <div id="commentDiv">
              <label>Description </label>
              <textarea rows="10" cols="30" name="description" id="description"></textarea>
              <br>
            </div>
           
            <button type="submit">submit</button>
        
            </form> 



    </div>
  </div>

  <footer>
    <p>SEP system developed by Chen, Sihan & Chen, Zidi</p>
  </footer>
</body>

</html>