<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SEP system</title>

    <link rel="stylesheet" href="../css/preset.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <style>
            .disabled{
      color: rgb(84, 84, 84);
      cursor: default;
      background-color: rgb(235, 235, 228);
      pointer-events:none;
    }

        .textArea{
            vertical-align: middle;
        }

        #textArea{
            vertical-align: middle;
        }

    </style>

</head>

<body>
    <header>
        <div id="headercontent">
        <div id="logout">
          <a id="logoutbutton" href="/logout">Logout</a>
        </div>
        <div id = "header">
           <p th:text="${session.userName}"></p>
          <p th:text="${session.role}"></p>
        </div>
      </div>
      </header>
<script>



</script>

<div class="content">
    <div class="sidebar">
        <ul class="side-menu">

            <li class="hidden" th:class="${session.event}"><a href="/eventManagement">EventManagement</a></li>

            <li class="hidden" th:class="${session.task}"><a href="/taskManagement">TaskManagement</a></li>

            <li class="hidden" th:class="${session.staff}"><a href="/staffManagement">StaffManagement</a></li>

            <li class="hidden" th:class="${session.finance}"><a href="/financeManagement">FinanceManagement</a></li>

        </ul>

    </div>
    <div class="maincontent">

        <form th:action="@{/editRecruitmentRequest}" method = "POST">
            <p>Recruitment request ID: <input class="disabled" name="recruitmentID" th:value="${recruitment.id}" type="text"></p>
            <p>Contract type: <input class="disabled" th:value="${recruitment.contractType}" type="text"></p>

            <p>Requesting department: <input class="disabled" name="requestingDept" th:value="${recruitment.requestingDept}" type="text"></p>

            <p>Years of Experience: <input name="yearOfExperience" class="disabled" th:value="${recruitment.yearOfExperience}" type="text" ></p>
            <p>Job of Title: <input name="jobTitle" class="disabled" th:value="${recruitment.jobTitle}" type="text" ></p>
            <div>
                <label class=".textArea">Job Description</label>
                <textarea rows="10" id=".textArea" cols="30" name="description" class="disabled" th:field="*{recruitment.description}"></textarea>
                <br>
            </div>

            <p>Status: <input name="status" class="disabled" th:value="${recruitment.status}" type="text" ></p>

            <div>
                <label class=".textArea">Comment From HR:</label>
                <textarea  id=".textArea" class="disabled" th:class="${commentView}" rows="10" cols="30" name="commentFromHR"
                          th:field="*{recruitment.commentFromHR}"></textarea>
                <br>
            </div>



            <button type="submit">Confirm</button>

        </form>



    </div>
</div>

<footer>
    <p>SEP system developed by Chen, Sihan & Chen, Zidi</p>
  </footer>
</body>

</html>