<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo 2</title>

  <link rel="stylesheet" href="../css/preset.css">
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
  </script>
  <style>



  </style>

</head>

<body>
  <header>HEADER</header>
  <script>



  </script>

  <div class="content">
    <div class="sidebar">
      <ul class="side-menu">
        <!-- class="hidden" -->
        <li th:class="${event}"><a href="/eventManagement">EventManagement</a></li>

        <li th:class="${task}"><a href="#">TaskManagement</a></li>

        <li th:class="${staff}"><a href="#">StaffManagement</a></li>

        <li th:class="${finance}"><a href="#">FinanceManagement</a></li>

      </ul>

    </div>

    <div class="maincontent">
      <form th:action="@{/editEventRequest}" method = "POST">
        <p>Event Id: <input name="eventId" type="text" th:value="${event.id}"></p>
        <p>Client Name: <input name="clientName" disabled type="text" placeholder="client name" th:value="${event.clientName}"></p>
        <p>Event type: <input name="eventType" type="text" disabled placeholder="event type" th:value="${event.eventType}"></p>
        <p>Begin Date: <input name="beginDate" type="date" disabled value="${event.beginDate}"></p>
        <p>End Date: <input name="endDate" type="date" disabled value="${event.endDate}"></p>
        <p>Preferences: <input name="preferences" disabled type="text" th:value="${event.preferences}"></p>
        <div id="commentDiv">
          <label>Description </label>
          <textarea rows="10" cols="30" name="description" disabled id="description" th:value="${event.description}"></textarea>
          <br>
        </div>

        <p>Status: <input name="status" disabled type="text" placeholder="draft" th:value="${event.status}"></p>

        <p>Comment: <input name="comment" type="text" placeholder="comment" th:value="${event.comment}"></p>
        <p>Expected budget: <input name="expectedBudget" type="number" placeholder="budget" th:value="${event.expectedBudget}"></p>


        <p>Please approve or reject:</p>
        <input type="radio" id="approve" name="choice" value="approve">
        <label for="approve">approve</label>
        <input type="radio" id="reject" name="choice" value="reject">
        <label for="reject">reject</label><br><br>

        <button type="submit">submit</button>

      </form>
    </div>
  </div>

  <footer>FOOTER</footer>
</body>

</html>