<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SEP system</title>

    <link rel="stylesheet" href="../css/preset.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <style>
            .disabled{
      color: rgb(84, 84, 84);
      cursor: default;
      background-color: rgb(235, 235, 228);
      pointer-events:none;
    }

    .textArea{
            vertical-align: middle;
        }


    </style>

</head>

<body>
    <header>
        <div id="headercontent">
        <div id="logout">
          <a id="logoutbutton" href="/logout">Logout</a>
        </div>
        <div id = "header">
           <p th:text="${session.userName}"></p>
          <p th:text="${session.role}"></p>
        </div>
      </div>
      </header>
<script>



</script>

<div class="content">
    <div class="sidebar">
        <ul class="side-menu">

            <li class="hidden" th:class="${session.event}"><a href="/eventManagement">EventManagement</a></li>

            <li class="hidden" th:class="${session.task}"><a href="/taskManagement">TaskManagement</a></li>

            <li class="hidden" th:class="${session.staff}"><a href="/staffManagement">StaffManagement</a></li>

            <li class="hidden" th:class="${session.finance}"><a href="/financeManagement">FinanceManagement</a></li>

        </ul>

    </div>
    <div class="maincontent">

        <form th:action="@{/editFinancialRequest}" method = "POST">
            <p>Financial request ID: <input class="disabled" name="financialRequestID" th:value="${finance.id}" type="text"></p>
            <p>Requesting department: <input class="disabled" name="requestingDept" th:value="${finance.requestingDept}" type="text"></p>
            <p>Event id: <input class="disabled" name="eventId" th:value="${finance.eventId}" type="number"></p>
            <p>Amount: <input class="disabled" name="amount" th:value="${finance.amount}" type="number"></p>
            
            <div>
                <label>Reason</label>
                <textarea rows="10" cols="30" name="reason" class="disabled" th:field="${finance.reason}"></textarea>
                <br>
            </div>

            <p>Status: <input name="status" class="disabled" th:value="*{finance.status}" type="text" ></p>

            <div>
                <label class = "textArea">Comment From Financial Manager:</label>
                <textarea id ="textArea" class="disabled" th:class="${commentView}" rows="10" cols="30" name="commentFromHR"
                          th:field="*{finance.commentFromFM}"></textarea>
                <br>
            </div>



            <button type="submit">Confirm</button>

        </form>



    </div>
</div>

<footer>
    <p>SEP system developed by Chen, Sihan & Chen, Zidi</p>
  </footer>
</body>

</html>